__pycache__/
*.pyc
*.bak_*
feedback/
syndromes_foetaux.db
syndromes.db
*.npz
*.html
*_data.json
*_results.json
vignettes_batch/
static/
templates/
syndromes_foetaux.db
syndromes_foetaux.db-shm
syndromes_foetaux.db-wal
syndromes_foetaux.db.bak.*
